html {
  overflow-y: scroll;
  background-color: #e5e1e2;
}
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.back{
  background: url("../resource/img/1920x1280.jpg") center center no-repeat fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 65%;
}
.titulo{
  text-align: center;
  font-size: 50px;
  text-shadow: 1px 1px 30px black;
  color: white;
  margin-bottom: 1em;
  margin-top: 1.5em;
}
.iconback{
  color: white;
}
.imgtitle{
  background-color: white;
  color: #334051;
  text-align: center;
  position:absolute;
  top: -8%;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 70px;
  width: 130px;
  height: 130px;
  border-radius: 100px;
  z-index: 2;
  box-shadow: 1px 1px 10px rgba(0,0,0, 0.4);
}

.btnvoltar{
  position: absolute;
  margin: .7em;
}
.box-principal{
  background-color: white;
  margin-top: 9em;
  margin-bottom: 2em;
  padding: 2em;
  border-radius: 3px;
  box-shadow: 1px 1px 8px rgba(0,0,0, 0.4);
  z-index: 1;
}
.resumo{
  text-align: center;
  color: white;
    text-shadow: 5px 5px 10px black;
}
.card-panel{
 text-align: center;
 border-radius: 10px!important;
 box-shadow: 2px 2px 5px black!important;
}
.materialboxed{
  border-radius: 10px;
  box-shadow: 2px 2px 3px gray;
}
.descricao-fig-top, .descricao-fig-bottom{
  color: gray;
  font-size: 13px;
}
.descricao-fig-top{
  margin-bottom: 1em;
}
.descricao-fig-bottom{
  margin-top: 1em;
}
.materialboxed{
  width: 100%;
}
.div-less{
  display: none;
}
.txt-more::before{
  content: "...ver mais";
}
.txt-more:hover::before, .txt-less:hover::after{
  cursor: pointer;
}
.txt-less::after{
  content: "ocultar";
}
.headerefeito{
  background-color: white;
  transition: 0.8s;
}
.iconback{
  opacity: 10;
  transition: 0.4s;
  margin-top: 0.1em;

}
.iconback:hover{
  transform: scale(1.3);
  cursor: pointer;
}
footer {
  background-color: rgba(0, 0, 0, 0.6);
  color: #F2FFFC;
  padding: 1em;
  clear: both;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

#title2{
  text-align: center;
  opacity: 1.0;
  display: none;
  color: #4286f4;
  text-shadow: 5px 5px 10px black;
}
@media only screen and (max-width: 768px) {
  .back {
    background: url("../resource/img/1920x1280.jpg") top center no-repeat fixed;
  }
}
