html {
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.image {
  width: 30%;
  border: 5px;
  box-shadow: 10px 10px 10px black;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}
.image:focus,
.image:hover{
  transform: rotateZ(4deg) scale(1.2);
  -webkit-transform:  rotateZ(4deg) scale(1.2);
}
.border-cards, .image {
  border-radius: 6px;
}
.border-cards-effect:hover{
  transform: scale(1.1);
}
.back {
  background: url("../img/1920x1280.jpg") center center no-repeat fixed;
  background-size: 100%;
}
.collapsible-header + .collapsible-body {
  background-color: white;
}
.list-title {
  font-weight: bold;
  font-size: 18px;
}
.back > .row{
  margin-left: 8%;
}
.image-position-name{
  margin-top: 10%;
}
.Popout{
  margin-top: 15%;
}
.name-tittle {
  font-family: 'Anton', sans-serif;
  color: white;
  text-shadow: 5px 7px 20px black;
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
}
.name-tittle:hover{
  text-shadow: 0px 0px 20px white;
}
.div-icones{
  margin: auto;
  max-width: 110px;
}
.icones {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around ;

}
.fixed-action-btn{
  bottom: 14px;
}
.collapsible-header {
  padding: 0.8em;
  font-size: 12px;
  margin-bottom: 5px;
}
.material-icons {
  font-size: 1.5em !important;
}
footer {
  background-color: rgba(0, 0, 0, 0.6);
  color: #F2FFFC;
  padding: 1em;
  clear: both;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .image {
    width: 50%;
  }
  .border-cards-effect:hover{
    transform: unset;
  }
  .back {
    background: url("../img/1920x1280.jpg") top center no-repeat fixed;
  }
  .name-tittle {
    margin-left: 2%;
    margin-top: 6%;
  }
  .Popout{
    margin-top: 5%;
  }
}
.collapsible.popout>li{
  -webkit-transition:margin .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition:margin .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.effect-animate{
  display: none;
}
.img-modal-footer{
  max-width:80px;
  max-height:70px;
  width: auto;
  height: auto;
  transition: .3s linear;

}
.img-modal-footer:hover{
  box-shadow: 0px 0px 20px black;
  border-radius: 8px;
}
.modal-div{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}
.list-title-img{
  width: 80%;
  margin-right: 1em;
}
.li-title-link{
  font-size: 80%;
}
